<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/search.css') }}">
    <title>Document</title>
</head>
<body>
    <div class="box1">
        <img class="img1" src="{{ url_for('static', filename='img1.png') }}" alt="">
        <h1 class="h">История болезни пациента</h1>

    <form class="box2" action="/search" method="post">
        <br>
        <input type="text" placeholder="Фамилия пациента" value="{% if second_name %}{{ second_name }}{% endif %}" name="second_name" class="surname"> 
        <br>
        <input type="text" placeholder="Имя пациента" value="{% if first_name %}{{ first_name }}{% endif %}" name="first_name"  class="surname"> 
        <br>
        <input type="text" placeholder="Отчество пациента" value="{% if third_name %}{{ third_name }}{% endif %}" name="third_name" class="surname"> 
        <br>
        <br>
        {% if message %}
        <h6>{{ message }}</h6>
        {% endif %}
        <button type="submit" class="button">Поиск</button>
            
        <div class="box3">
            <p class="text">{% if history %}{{ history }}{% endif %}</p>
        </div>
    </form>


</div>
</body>
</html>