<!doctype html>
<html lang="ru">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Авторизация</title>

	<!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

	<meta name="theme-color" content="#7952b3">
  <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
</head>
  
  <body class="text-center">
    
    <main class="form-signin">
            <form action="" method="post">
                <h1 class="h1">Вход в аккаунт</h1>
                    {% if message%}
                    <div class="alert alert-dark" role="alert">
                      {{message}}
                    </div>
                    {% endif %}
                    <div class="login">
                        <input type="login" class="form-control" id="floatingInput" placeholder="Введите логин" name="login">

                    </div>
                    <div class="password">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Введите пароль" name="password">
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Запомнить меня
                        </label>
                    </div>
                    <button class="entry" type="submit">Войти</button>
            </form>
            <button class="registration" type="submit" onclick="window.location.href='/signup'">Регистрация</button>
        </div>
    </main>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>


  </body>
  <div class="error"></div>
</html>