<!doctype html>
<html lang="ru">
  <head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Регистрация</title>

	<!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<meta name="theme-color" content="#7952b3">

    <link href="{{ url_for('static', filename='css/signin.css') }}" rel="stylesheet">
  </head>
  <body class="text-center">
    
    <main class="form-signin">
            
            <form action="" method="post">
                    <h1 class="h1">Регистрация</h1>
                    {% if message%}
                    <div class="alert alert-dark" role="alert">
                      {{message}}
                    </div>
                    {% endif %}
                    <div class="name">
                        <input type="text" class="form-control" id="floatingInput" placeholder="Введите ваше имя" name="firstname">
                    </div>

                    <div class="login">
                        <input type="login" class="form-control" id="floatingInput" placeholder="Введите логин" name="username">
                        <!-- <label for="floatingInput">Введите логин </label> -->
                    </div>

                    <div class="password">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Придумайте пароль" name="firstpassword">
                        <!-- <label for="floatingPassword">Введите пароль</label> -->
                    </div>

                    <div class="password">
                        <input type="password" class="form-control" id="floatingPassword" placeholder="Введите повторно пароль" name="secondpassword">
                    </div>

                    <button class="registration" type="submit">Зарегистрироваться</button>
                  </form>
                  {% if success%}
                    <button class="entry" type="submit" onclick="window.location.href='/'">Авторизация</button>
                  {% endif %}
        
    </main>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>